h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(6, 14, 73);
    text-align: center;
    font-size: 50px;
    font-style: oblique;
}
body {
    background-color: rgb(179, 191, 189);
    padding: 60px;
}

a:visited{
    color: rgb(253, 7, 48);
}
a{
    font-size: 30px;
}
ul div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 30px;
}
div{
    margin: 50px;
}
h2{
    color: rgb(3, 51, 8);
    font-size: 30px;
}


img{
    border-radius: 51%;
}
th,td{
    padding: 8px;
    border-bottom: 1px solid rgb(120, 161, 238);
    background-color:lightgray;
}

tables{
    text-align: center;
    width: 100%;
    margin-top: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button:hover{
    color: rgb(177, 166, 10);
}
footer{
    text-align: center;

}
table{
    margin-left: auto;
    margin-right: auto;

    border-collapse: collapse;
}

button {
    background-color: #b8ca18; 
    border: none;
    color: rgb(237, 11, 11);
    padding: 16px 33px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  nav{
      float: right;
  }
  
  ul{
      list-style-type: circle;
  }






